In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
dataset = pd.read_csv('tes.csv')
X = dataset.iloc[:, :-1].values
Y = dataset.iloc[:, -1].values

In [10]:
print(X)

[[1 'Ziddan' 22 '750000']
 [2 'Farrel' 27 '500000']
 [3 'Nanda' 30 '650000']
 [4 'Ziddan' 30 '725000']
 [5 'Farrel' 25 ' ']
 [6 'Nanda' 27 '385000']
 [7 'Ziddan' 350000 'No']
 [8 'Farrel' 21 '452000']
 [9 'Ziddan' 20 '485000']
 [10 'Farrel' 29 '795000']]

In [11]:
print(Y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' nan 'Yes' 'No' 'Yes']

In [12]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:,1:3])

In [13]:
print(X)

[[1 'Ziddan' 22 '750000']
 [2 'Farrel' 27 '500000']
 [3 'Nanda' 30 '650000']
 [4 'Ziddan' 30 '725000']
 [5 'Farrel' 25 ' ']
 [6 'Nanda' 27 '385000']
 [7 'Ziddan' 350000 'No']
 [8 'Farrel' 21 '452000']
 [9 'Ziddan' 20 '485000']
 [10 'Farrel' 29 '795000']]

In [14]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [15]:
print(X)

[[1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 'Ziddan' 22 '750000']
 [0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 'Farrel' 27 '500000']
 [0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 'Nanda' 30 '650000']
 [0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 'Ziddan' 30 '725000']
 [0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 'Farrel' 25 ' ']
 [0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 'Nanda' 27 '385000']
 [0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 'Ziddan' 350000 'No']
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 'Farrel' 21 '452000']
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 'Ziddan' 20 '485000']
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 'Farrel' 29 '795000']]

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Y = le.fit_transform(Y)

In [17]:
print(Y)

[0 1 0 0 1 1 2 1 0 1]

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size= 0.2, random_state= 1)

In [19]:
print(X_train)

[[0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 'Ziddan' 350000 'No']
 [0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 'Farrel' 25 ' ']
 [1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 'Ziddan' 22 '750000']
 [0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 'Ziddan' 30 '725000']
 [0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 'Farrel' 27 '500000']
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 'Farrel' 21 '452000']
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 'Ziddan' 20 '485000']
 [0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 'Nanda' 27 '385000']]

In [20]:
print(X_test)

[[0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 'Nanda' 30 '650000']
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 'Farrel' 29 '795000']]

In [21]:
print(Y_train)

[2 1 0 0 1 1 0 1]

In [22]:
print(Y_test)

[0 1]

In [23]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:, 1:3] = sc.fit_transform(X_train[:, 1:3])
X_test[:, 1:3] = sc.transform(X_test[:, 1:3])

In [24]:
print(X_train)

[[0.0 -0.3779644730092272 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 'Ziddan' 350000
  'No']
 [0.0 -0.3779644730092272 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 'Farrel' 25 ' ']
 [1.0 -0.3779644730092272 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 'Ziddan' 22
  '750000']
 [0.0 -0.3779644730092272 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 'Ziddan' 30
  '725000']
 [0.0 2.6457513110645903 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 'Farrel' 27
  '500000']
 [0.0 -0.3779644730092272 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 'Farrel' 21
  '452000']
 [0.0 -0.3779644730092272 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 'Ziddan' 20
  '485000']
 [0.0 -0.3779644730092272 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 'Nanda' 27
  '385000']]

In [25]:
print(X_test)

[[0.0 -0.3779644730092272 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 'Nanda' 30
  '650000']
 [0.0 -0.3779644730092272 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 'Farrel' 29
  '795000']]